.gradle
bin/
/build/
/bin
out/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Misc
*.log

*.DS_Store
.DS_Store
src/.DS_Store
src/test/.DS_Store
src/test/java/.DS_Store
src/test/java/io/.DS_Store
src/test/java/io/sicredi/.DS_Store
local.properties
target/
